// ---Types
import { {{pascalCase name}}Initial } from './storeTypes';
import { GenericStore } from '@Redux/config/genericStoreTypes';

/** Acciones adicionales para tu "use{{pascalCase name}}Store" */
export const customActions = (allStore: GenericStore<{{pascalCase name}}Initial>) => {
  // --------------CUSTOM ACTIONS-----------------
  /** Update custom prop from store, boilerplate, play with custom action */
  function updateCustom(currentPath: string) {
    allStore.patch({ currentPath });
  }
  return { 
    updateCustom,
  };
};