// ---Dependencies
import { ReactElement } from 'react';
// ---UI Dependencies
// ---Custom Hooks
// ---Config
// ---Assets
// ---Utils
// ---Requests
// ---Styles
// ---CommonComponents
// ---Components

interface Props {}

/**
 * {{pascalCase name}} Custom Hook: Descripcion del comportamiento...
 * @param {Props} props - Parametros del componente como: ...
 * @returns {ReactElement}
 */
export function {{pascalCase name}}(props: Props): ReactElement {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------HOOK DATA
  return <p>{{pascalCase name}}</p>;
}