// ---Dependencies
import { ReactElement } from 'react';
import Head from 'next/head';
// ---Components
import { {{pascalCase name}}Cont } from 'Cont/{{pascalCase name}}Cont/{{pascalCase name}}Cont';

/**
 * Componente {{pascalCase name}}Page: Contenedor princilal para la ruta '/{{lowerCase route}}' componente es para dar datos al Helmet de
 * la página y concatenarla con el contenedor de la página componente
 * @returns { ReactElement } ReactElement
 */
export default function {{pascalCase name}}Page(): ReactElement {
  return (
    <>
      <Head>
        <title>{{constantCase name}}</title>
      </Head>
      <{{pascalCase name}}Cont />
    </>
  );
}
