// ----------------------------------GLOBALS------------------------------------
//-----------------

// -------------------------------GlobalProvider------------------------------------
//-----------------Navbar
.Navbar{
  background-color: @colorNavButtons;
  width: 100%;
}
//-----------------Footer
.Footer{
  background-color: @colorNavButtons;
  width: 100%;
}

// ----------------------------------cPages------------------------------------
//-----------------HomeCont
.HomeCont{
  border: 1px solid @colorPrimary;
  width: 96%;
  margin: 30px auto;
  padding: 10px;
}
//-----------------Error404Cont
.Error404Cont{
  border: 1px solid @colorPrimary;
  width: 96%;
  margin: 30px auto;
  padding: 10px;
}
//-----------------HealthCont
.HealthCont{
  .login{
    border: 1px solid @colorPrimary;
    border-radius: 8px;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 12px;
  }
}
//-----------------
